# Mac OS Files
.DS_Store

# Ignore node_modules directory
node_modules/

# Ignore automation testing generated copies
automation-testing/

# Ignore local artifacts
local-artifacts

# specification helper files
docs/atlassian-jira-issues/
docs/superpowers/plans/
docs/superpowers/specs/
docs/copilot/plans/
docs/copilot/specs/
