# EDFI_CLIENT_NAME=AdminApp
# EDFI_CLIENT_ID=4NRm8Cpw1G2p
# EDFI_CLIENT_SECRET=tfgFV5RUvZtsE0rAzf2ZuIX8

# EDFI_CLIENT_NAME=PUBLIC_CLIENT
# EDFI_CLIENT_ID=RvcohKz9zHI4
# EDFI_CLIENT_SECRET=E1iEFusaNf81xzCxwHfbolkC

EDFI_CLIENT_NAME=V5
EDFI_CLIENT_ID=awkWFxweNW5t
EDFI_CLIENT_SECRET=U7dZ4LGtLIxvu94WXIW4nYQH

# EDFI_CLIENT_NAME=V4
# EDFI_CLIENT_ID=dbHD7dnJt2yc
# EDFI_CLIENT_SECRET=2rA6X3CxQ88PywCZ518Z3Hla

# EDFI_CLIENT_NAME=Azure
# EDFI_CLIENT_ID=2rJ19ql1NPqs
# EDFI_CLIENT_SECRET=N81PeFbulKQ2yachFRzoWwsv
