EDFI_CLIENT_NAME=PUBLIC_CLIENT
EDFI_CLIENT_ID=RvcohKz9zHI4
EDFI_CLIENT_SECRET=E1iEFusaNf81xzCxwHfbolkC

EDFI_CLIENT_NAME=V5
EDFI_CLIENT_ID=awkWFxweNW5t
EDFI_CLIENT_SECRET=U7dZ4LGtLIxvu94WXIW4nYQH

EDFI_CLIENT_NAME=V4
EDFI_CLIENT_ID=dbHD7dnJt2yc
EDFI_CLIENT_SECRET=2rA6X3CxQ88PywCZ518Z3Hla
