name: CodeQL Analysis on Pull Request

on:
  pull_request:
    paths:
      - '.github/**/*.yml'
      - '.github/workflows/on-pullrequest-bidi-scan.yml'

permissions: read-all

jobs:
  scan-actions-bidi:
    name: Scan Actions, scan all files for BIDI Trojan Attacks
    uses: ed-fi-alliance-oss/ed-fi-actions/.github/workflows/repository-scanner.yml@main
    with:
      config-file-path: ./.github/workflows/bidi-config.json
